# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# Secrets
.env
*.env
config/settings_local.py

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Virtual Machine
*.vdi
*.vmdk
